<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<img src="../static/logo.png" alt="logo" class="logo" id="logo"/>
<div class="topnav" style="width:100%;overflow:hidden;height:44px">
    <a class="active" href="#home">Home</a>
    <a href="#news">About Us</a>
    <a href="#contact">Contact</a>
    <a href="#about">Zmanei Tefillah</a>
    <a href="#about">Upcoming Events</a>
    <a href="#about">Donate</a>
</div>

<div class="sitebody" id="sitebody">
    <div class="todayschedule" id="todayschedule">
        <div id="secular-date"></div>
        <div id="jewish-date"></div>
    </div>
    <div class="upcoming" id="upcoming"></div>
</div>

<div class="footbar"></div>
</body>
</html>
