<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="BSD"><p>בס"ד</p></div>
<img src="../static/logo.png" alt="logo" class="logo" id="logo"/>
<div class="topnav" style="width:100%;overflow:hidden;height:44px">
    <a class="active bar-item button" href="index.html"
       style="padding-left:80px!important;padding-right:80px!important;">Home</a>
    <a class="bar-item button" href="#"
    style="padding-left:80px!important;padding-right:80px!important;">About Us</a>
    <a class="bar-item button" href="#"
       style="padding-left:80px!important;padding-right:80px!important;">Contact</a>
    <a class="bar-item button" href="#"
       style="font-family:heb, serif;padding-left:80px!important;padding-right:80px!important;">Zmanei Tefillah</a>
    <a class="bar-item button" href="#"
       style="padding-left:80px!important;padding-right:80px!important;">Upcoming Events</a>
    <a class="bar-item button" href="#"
       style="padding-left:80px!important;padding-right:80px!important;">Donate</a>
</div>

<div class="sitebody" id="sitebody">
    <div class="todayschedule" id="todayschedule">
        <div id="secular-date"></div>
        <div id="jewish-date"></div>
    </div>
    <div class="upcoming" id="upcoming"></div>
</div>

<div class="footbar"></div>
</body>
</html>
