.today-schedule-footer {
    font-size: 14px;
    text-align: center;
}


.today-schedule-title {
    font-size: 30px;
    text-align: center;
    position: relative;
}

.today-schedule {
    position: relative;
    top: 27px;
    left: 31px;
    width: 670px;
    height: 171px;
    background-color: #FFFFFF;
    outline-offset: -5px;
    outline: 1.5px solid black;
}

.upcoming {
    position: fixed;
    top: 27px;
    right: 31px;
    width: 234px;
    height: 398px;
    background-color: #FFFFFF;
    outline-offset: -5px;
    outline: 1.5px solid black;
}

.BSD {
    position: relative;
    overflow: hidden;
    top: 1%;
}

.topnav {
    background-color: #3B1212;
    overflow: auto;
    height: 44px;
    width: 100%;
    position: relative;
    top: 60px;
    float: left!important;
}

.button {
    white-space: normal;
}

.bar-item {
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    padding: 10px 15px 9px 15px !important;
}

.sitebody {
    background-color: #EAEAEA;
    position: relative;
    top: 135px;
    left: 50%;
    transform: translate(-50%);
    height: 626px;
    width: 1018px;
}

.footbar {
    background-color: #3B1212;
    overflow: hidden;
    height: 44px;
    position: relative;
    bottom: -170px;
}

.logo {
    height: 284px;
    width: 260px;
    position: relative;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
}

a {
    font-family: heb, serif;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    margin-top: 3px;
}


div {
    font-family: heb, serif;
}

@font-face {
    font-family: heb;
    src: url("hebrew.otf") format("opentype");
}
